@import "antd/dist/antd.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.loginArea .ant-modal-footer {
    display: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }

    body {
        background: aliceblue;
        color: black;
    }
}
/* markdown 字体大小调整 */
.w-md-editor-text-pre > code,
.w-md-editor-preview,
.w-md-editor-text-input {
    font-size: 23px !important;
    line-height: 24px !important;
}
.editor_container__iyHLv {
    padding: 0px 10px;
}
